body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/Cyberpunk.jpg);
}

nav{
    height: 100%;
    min-width: 80px;
    max-width: 80px;
    background-color: rgb(8, 141, 112);
    position: fixed;
    transition: 1s;
    overflow: hidden;
    top:0;
}

nav:hover{
    min-width: 300px;
    transition: 1s;
}

.icone{
    width: 35px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

li{
    height: 60px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

li p{
    color: azure;
    font-size: 18px;
    margin-left: 30px;
}

li:hover{
    background-color: black;
    cursor: pointer;
}

.form{
    width: 50%;
    background-color:rgb(73, 80, 78);
    margin: auto;
    text-align: center;
}

h1{
    color: black;
}

.formbox{
    width: 100%;
    height: auto;
    background-color: #333;
}

form{
    display: flex;
    flex-direction: column;
    
}